html {
    position: relative;
    min-height: 100%;
}

body {
    padding: 0%;
    margin: 0%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.wrapper2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.topitems{
    background-color: black;
    width: 100%;
    position: relative;
    box-sizing: border-box;
}

.topitems:after{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: '';
    background: inherit;
    transform-origin: top right;
    transform: skewY(-3deg);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navigation-menu {
    margin: 0px;
    padding: 0px;
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 900;

}

.navigation-menu ul{
    display: flex;
    flex-flow: wrap;
    justify-content: right;
    list-style-type: none;
    margin: 0%;
    padding-top: 3% ;
    padding-bottom: 2%;
    padding-left: 0%;
    padding-right: 0%;
}

.navigation-menu li{
    width: 150px;
    text-align: center;
    font-size: 125%;
    margin: 0%;
}
.navigation-menu a{
    color: whitesmoke;
    text-decoration: none;
}
.navigation-menu a:visited{
    color: whitesmoke;
}

.navigation-menu a:active{
    color: orange;
}

.navigation-menu a:hover{
    color: rgb(238, 151, 238);
}

.map img {
    display: flex;
    flex-flow: row nowrap;
    max-width: 80%;
    border: 1px solid black;
}

.prefectures {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    max-width: 30%;
    padding: 5%;
    height: auto;
}

.container2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(158, 157, 157);
    border: 1px solid black;
    padding: 3%;
    width:70%;
    height:auto;
    padding:20px 0;
    margin:20px auto;
}

.Boxofmanyscrolling{
    width: 150px;
    height: 250px;
    overflow: auto;
    border: 1px solid black;
}

.buttoncontainer{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;

}

.buttontonrabbit{
    display: flex;
    width: 50%;
    font-size: 150%;
    padding:2%;
    margin: 0%;
    justify-content: center;
}


.boxmeup{
    width:600px;
    height:auto;
    margin:20px auto;
    padding:10px 20px;
    background:rgb(58, 58, 58);
    border-left:10px solid #aaa;
    font-family: arial;
    font-size:16px;
    color:#fff;
    
  }